---
import { mdiClose, mdiMenu } from '@mdi/js';
import { collections } from '../content/config';
import Icon from './icon.astro';

const {props} = Astro;
const entries = Object.entries(collections).filter(([, x]) => x.root).map(([collection, item]) => ({
	name: item.name,
	href: `/${collection}`,
}));
const site_title = import.meta.env.PUBLIC_SITE_TITLE;
---

<header class="navbar bg-base-200 border-b flex sticky top-0 z-50">
	<nav class="flex gap-2 w-screen md:max-w-6xl md:mx-auto md:p-0">
		<div class="drawer w-auto">
			<input id="my-drawer-1" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content">
				<label for="my-drawer-1" class="btn btn-ghost btn-square drawer-button">
					<Icon class="icon hamburger fill-base-content" icon={mdiMenu}></Icon>
				</label>
			</div>
			<div class="drawer-side">
				<label for="my-drawer-1" aria-label="close sidebar" class="backdrop-blur-xs drawer-overlay"></label>
				<ul class="menu bg-base-200 min-h-full w-80 p-4">
					{entries.map((item) => (
						<li>
							<a class="px-6 py-3 text-lg" href={item.href}>{item.name}</a>
						</li>
					))}
				</ul>
			</div>
		</div>
		<a class="btn btn-ghost no-underline text-xl" href="/">{site_title}</a>
	</nav>
</header>
