---
import { mdiClose, mdiMenu } from '@mdi/js';
import { collections } from '../content/config';
import Icon from './icon.astro';

const {props} = Astro;
const entries = Object.entries(collections).filter(([, x]) => x.root).map(([collection, item]) => ({
	name: item.name,
	href: `/${collection}`,
}));
const site_title = import.meta.env.PUBLIC_SITE_TITLE;
---

<header class="bg-zinc-50 border-b flex sticky top-0 z-50 dark:bg-zinc-900 dark:border-zinc-600">
	<nav class="nav">
		<details class="hamburger-menu">
			<summary>
				<Icon class="icon hamburger" icon={mdiMenu}></Icon>
				<Icon class="icon close" icon={mdiClose}></Icon>
				<nav>
					{entries.map((item) => (
						<a class="nav-link" href={item.href}>{item.name}</a>
					))}
				</nav>
			</summary>
		</details>
		<a class="nav-title" href="/">{site_title}</a>
	</nav>
</header>
