---
import { getCollection } from 'astro:content';
import { groupEntriesBy } from '../content/config';

import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
import Header from '../components/header.astro';

import '../styles/catalog.css';

const { params, props } = Astro;
const { category } = params;
const { frontmatter } = props;
const { collections = [] } = frontmatter;

const c = await groupEntriesBy(collections, x => x.data.category);
---

<!doctype html>
<html lang="en">
	<Head title={frontmatter.title} />
	<body class="divide-base-300 divide-y flex flex-col min-h-screen">
		<main class="flex-1">
			<Header heading={frontmatter.title} />
			<article class="catalog">
				{Object.entries(c).map(([entry_category, entries]) => (
					<section class="catalog-section">
						<header class="catalog-section-header">
							{entry_category}
						</header>
						<nav class="catalog-list">
							{entries.map(entry => (
								<a href={`/${entry.slug}`}>{entry.data.title}</a>
							))}
						</nav>
					</section>
				))}
			</article>
		</main>
		<Footer />
	</body>
</html>
